@import "tailwindcss";



@theme  {
  --color-green: #009969; 
  --color-gray: #888888; 
  --color-333: #333333; 
  --color-4f4: #4F4F4F; 
}



body {
  
  font-family: "Poppins", serif;
}
.mont {
  font-family: "Montserrat", sans-serif; /* Class for elements using Montserrat */
}
.dm {
  font-family: "DM Sans", sans-serif; /* Class for elements using Montserrat */
}