@import "tailwindcss";



@theme {
  --color-green: #009969;
  --color-gray: #888888;
  --color-333: #333333;
  --color-4f4: #4F4F4F;
  --color-bggreen: #f2fafa;
  --color-989: #989898;
  --color-525: #525252;
  --color-cad: #CAD1E9;
  --color-757: #757D8A;
  --color-0f1: #0F172A;
  --color-1d2: #1D2127;
  --color-0ab: #0ABF82;
  --color-f1e: #F1EFFF;
  --color-b9b: #B9BEC1;
  --color-3d3: #3D3D3D;
  --color-e5e: #E5E7EB;
  --color-f2f: #F2F2F2;
  --color-5d5: #5D5D5D;
  --color-bdb: #BDBDBD;
  --color-344: #344054;
  --color-ff6: #FF6161;
  --color-dcd: #DCDCDC;
  --color-219: #219826;
  --color-bob: #B0B0B0;
}

.bg-blur{
  /* box-shadow: 0px 0px 8px 0px #00000026; */

backdrop-filter: blur(8px);

box-shadow: 8px 8px 20px 0px #FFFFFF40 inset;

}

.green-card{
  background: linear-gradient(107.38deg, #2FD899 2.61%, #009969 101.2%);

}
.gray-card{
  background: linear-gradient(107.38deg, #FFFFFF 2.61%, #BDBDBD 101.2%);


}

body {

  font-family: "Poppins", serif;
}

.mont {
  font-family: "Montserrat", sans-serif;
  /* Class for elements using Montserrat */
}

.inter {
  font-family: "Inter", sans-serif;
  /* Class for elements using Montserrat */
}

.dm {
  font-family: "DM Sans", sans-serif;
  /* Class for elements using Montserrat */
}

.rale {
  font-family: "Raleway", sans-serif;
  /* Class for elements using Montserrat */
}

.man {
  font-family: "Manrope";
  /* Class for elements using Montserrat */
}
.ant {
  font-family: "Anton";
  /* Class for elements using Montserrat */
}

.robo {
  font-family: "Roboto", sans-serif;
  /* Class for elements using Montserrat */
}

/* .shad {
  box-shadow: 0px 4px 10px 0px #00000040 inset;

} */
.bdshad {
  box-shadow: 0px 2px 8px 0px #00000026;


}

.mapbg {
  background-image: url('/assets/map.png');
}
.loginbg {
  background-image: url('/assets/loginbg.png');
}

.desk {
  background-image: url('/assets/desktop.png');
}

.faq {
  background-image: url('/assets/faqimgcircle.png');
}

.shad {
  box-shadow: 0px 0px 16px 0px #00000026;

  backdrop-filter: blur(10px)
}

@media screen and (max-width: 1280px) {
  .desk {
    background-image: none;
  }
}